body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    height: 100vh;
    background-color: rgb(111, 111, 145);
    
}

:root{
    --sec-hand: #c2460db2;
    --min-hour-hand: #06a106;
    --bg-color: rgb(40, 23, 80);
}

.frame{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.clock, body, .frame{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 240px;
    height: 240px;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0px 8px 10px gray, -2px 0px 30px, 0 0 2px gray;
    border: 14px solid gray;
    background-color: #ffffff;
    font-weight: 800;
    position: relative;
}
.num{
    position: absolute;
    transform: rotate(calc(var(--rotation) * 1deg)) translateX(100px)
    rotate(calc(var(--rotation) * -1deg));
}

.hour-hand, .minutes-hand, .seconds-hand, .dot{
    height: 6px;
    border-radius: 7px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 100%;
    top: 50%;
    right: 50%;
}

.hour-hand{
    width: 45px;
    height: 7px;
    background-color: var(--min-hour-hand);
    z-index: 3;
}

.minutes-hand{
    width: 70px;
    height: 4px;
    z-index: 10;
    background-color: var(--min-hour-hand);

}

.seconds-hand{
    width: 90px;
    height: 2px;
    z-index: 12;
    background-color: var(--sec-hand);
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 30;
    background-color: rgb(80, 79, 79);
    border: 3px solid rgb(59, 59, 59);
    box-shadow: 0 0 20px rgb(29, 28, 28);
}

